
.msr-title {
    font-size: 24px;
    font-weight: 400;
    padding: 16px;
}

.msr-info {
    display: flex;
    width: 900px;
    padding-bottom: 16px;
    text-align: left;
    margin: auto;
}

.msr-image {
    margin-top: 16px;
    margin-right: 16px;
}
