<div class="msr-centered msr-title">Messier Catalog</div>
<div class="msr-centered">
  <div class="msr-info">
    <div class="msr-image">
      <img src="assets/Charles_Messier.jpg" height="240">
    </div>
    <div>
      <p>Charles Messier (1730-1817) was a French astronomer who is best known for his work in the field of comet hunting. Messier was born in Lorraine, France, and began his career as an apprentice in a print shop. However, his interest in astronomy led him to become an assistant to astronomer Joseph Nicolas Delisle.</p>

      <p>Messier became interested in comet hunting and spent many nights observing the sky in search of new comets. However, he found that many of the objects he was seeing were not comets, but rather nebulae and star clusters. To avoid confusing these objects with comets in the future, he began to compile a list of them, which eventually became known as the Messier catalog.</p>

      <p>The Messier catalog contains 110 objects, including galaxies, nebulae, and star clusters, that are visible from Earth's Northern Hemisphere. It is still used today by amateur and professional astronomers as a guide to observing the night sky. Messier's work helped to advance the study of astronomy and paved the way for future discoveries in the field.</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
